html, body{
	height: 100%;
}

body{
	background-color: #433323;
	color: #FFF;
	font-family: 'Courgette', cursive;	
}

ul{
	list-style-type: none;
	padding-left: 0;
}

a{
	color: #337ab7;
	box-shadow: 1px;
}

.jumbotron{
	background-color: transparent;
}

#still-alive-section{
	-webkit-transition: background-image 0.5s ease-in-out;
	transition: background-image 0.5s ease-in-out;
}

#still-alive-section a{
	text-shadow: 2px 2px 2px rgba(50, 50, 50, 1);
}

.lamb-section{
	background-image: url(img/sunset.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center center;

	min-height: 600px;
}


.honey-section{
	background-image: url(img/bikupa.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	min-height: 600px;
}

.skin-section{
	background-image: url(img/tjejerna.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:right center;
}


.tractor-section{
	background-size: cover;
	background-repeat: no-repeat;
}

.ramsholmen-section{
	background-image: url(img/ramsholmen.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center center;

	min-height: 600px;
}


.alpha-channel{
	min-height: 600px;
	background: rgba(0, 0, 0, 0.4);
}



/*********
 *
 * MODAL
 *
 *********/
.modal{
	color: #2d2d2d;
}

.modal-content{
	border: none !important;	
}

.modal-title{
	text-align: center;
}

.modal-header{
	border-bottom: none !important;
}
.modal-footer{
	border-top: none !important;
}

.modal .btn{
}




/* Chrome FFS */
a, button, a:focus, button:focus{
	outline: 0 !important;
	text-decoration: none !important;
}
