body{
	background-color: #666;
	color: #FFF;
	font-family: 'Courgette', cursive;	
}

.jumbotron{
	background-color: transparent;
}

.section{

}

.lamb-section{
	background-image: url(lamb.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	min-height: 600px;
}


.honey-section{
	background-image: url(bikupa.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	min-height: 600px;
}


.alpha-channel{
	height: 600px;
	background: rgba(0, 0, 0, 0.4);
}